@media (max-width: 640px) {

    .carousel .item {
        max-height: 500px;
        height: 300px;
      }
      
      .item img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%!important;
      }


      .item-menu{
        width: 80%;
        
        display: inline-block;
     
      }
      .semibox{
       height: 50vh; 
       width: 95%;  
      }
      
      .semibox1{
         width: 100%; 
      }
      .semibox1left{
        width: 80%;
      }
      .semibox1right{
        width: 80%;
      }
      .semibox1rightlast{
        width: 80%;
      }
      .mobile-logo img{
        display: block;
        float: left;
        width: 200px;
        height: auto;
      }
      .small-logo{
        display: none!important;
      }



     
}