body{
  
}
.small-logo{
  padding:0px ;
}
.small-logo li{
  padding:0px ;
}
.mobile-logo img{
  display: none;
}
#mu-header {
  text-align: center;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.menu-bg-icon{
  opacity: .2;
  transform: translate(100px, 145%);
}

#top-menu li a:hover{

}
.navbar-header .navbar-toggle .icon-bar
{
  background-color: white!important;
}

/*==================
 NAVBAR SECTION
====================*/
.mu-main-navbar {
  background-color: transparent;
  border: none;
  padding: 1px 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .mu-main-nav {
  font-family: "Open Sans", sans-serif;
}
.mu-main-navbar .mu-main-nav li a {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .mu-main-nav li a:hover {
  color: red!important;
  
  
}

.mu-main-navbar .mu-main-nav .dropdown-menu {
  background-color: #333;
  border-radius: 0;
}
.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}
.mu-main-navbar .navbar-header .navbar-brand {
  padding: 0;
  margin-top: 8px;
  height: 34px;
  width: 145px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .navbar-header .navbar-brand img {
  margin-left: 5px;

  width: 10%;
  height: 100%;
}
.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: rgba(0,0,0,.0001)!important;
  color: #fff;
  border-bottom: 2px solid red;
}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
.nav-log{
  width: 250px;
  height: 125px;
}
.logo-tp{
  padding: 0px;
}
.logo-tp li{

}
.logo-tp  img{
  width: 200px;

}





.red-btn{
  width: 225px;
    background-color: red;
    padding: 7px;
    border: none;
    color: white;
    border-radius: 50px;
    display: inline;

}
.red-btn img{
  position: inherit!important;
display: inline-flex;


}
.white-btn img{
  position: inherit!important;
  display: inline-flex;


}
.white-btn{
  width: 225px;
    background-color: white;
    padding: 7px;
    border: none;
    color: black;
    border-radius: 50px;
    display: inline;
}

.carousel-caption{
  

padding-bottom: 50px;

}




.black{
  background-color: rgb(0, 0, 0)!important;
}
.black:hover{
  background-color: red!important;
  cursor: pointer;
}
.red{
  background-color: red!important;
}
.slider{
  padding: 0px!important;
  height: 170px!important;
}

.carousel .item {
  max-height: 500px;
  height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: auto;
}

.red-bx{
  background-image: linear-gradient(#f70707,#d12d2d);
  color: white;
  height: auto;
  padding-bottom: 10px;
}

.red-bx h1{
 font-size: 30px;
 text-align: center;
}
.red-bx P{
  
  text-align: center;
 }
 
 .action{
   margin-left: auto;
   margin-right: auto;
   display: block;
 }
 .grx-bx{
   padding: 20px;
   margin: 20px;
   height: 300px;
   background-color: lightblue;
 }


 .menu-items{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   display: block;

 }

 .item-menu{
   width: 25%;
   height: 350px;
   display: inline-block;

 }
 .item-menu-cnt{
 position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.item-menu-cnt img{
  height: 80px;
  width: 105;
 }


 /* slider gallery */

 .slick-slide {
  margin-bottom: 10px;
  width: max-content ;
}

.slick-slide img {
  width: 100%;
  min-height: 200px;
  height: 250px;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


/* footer */

.foot{
background-image: url(./Images/bootle.jpg);

  
  background-size:cover;
  display: inline;
  float: left;
  width: 100%;
  height: fit-content;
}
.foot-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 100px 0;
  float: left;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.btn-red{
  background-image: linear-gradient(#f70707,#d12d2d);
  width: 200px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  padding: 20px;
  color: white;

}

.semibox{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 60vh;
  margin-top: 25px;
  background-color: gray;
  display: flex;
  

}
.semiboxleft{
  display: block;
  background-color: green;
  width: 60%;
  height: auto;
  background-image: url(./Images/item4.jpeg);
  background-size:100% 100%;
}
.semiboxright{
  display: block;
  background-color: #d4d1d1;
  width:40%;
  height: auto;
  color: black;
}
.vertical-center1 {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
}

.semibox1{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 350px;
  margin-top: 25px;
 
  display: flex;
  

}
.semibox1left{
  display: block;
 
  width: 40%;
  height: auto;
  
}
.semibox1right{
  display: block;
  
  width:20%;
  height: 100%;
  color: white
}
.semibox1rightlast{
  display: block;
  
  width:40%;
  height: 95%;
  color: white;
  
}
.semibox1-map{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  height: 60%;
  transform: translate(-50%,-40%);
}


.semibox1-logo{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.semibox1-logo img{
  width: 90%;
  height: auto;
}
.semibox1-contact{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.semibox1-contact h5{
  text-align: left;
 

}
.semibox1-contact span{
  float: left;
  padding-right: 10px;
 

}
